body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

.home-info {
    max-width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* welcome note */

.welcome{
    position: relative;
    margin: 0 auto;
    width: 100%;
    /*background-color: #4c46f85d;*/
    padding: 20px;
}

.welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%; /* Adjusted to 100% to make use of .about's 95% width */
    position: relative;
    opacity: 0.7;
    border-radius: 10px;
}

.welcome h1 {
    position: absolute;
    top: 15%; 
    font-size: 40px; 
    color: #1d3272;
    margin-top: auto;
    margin-left: 10px;
}

.welcome p {
    position: absolute;
    top: 35%; /* Position p below h2 */
    color: #171717;
    font-size: 20px;
    margin-left: 10px;
    width: 50%;
}

/* Feature Styles */
.features {
    margin: 10px auto;
    width: 90%;
}

.features h1{
    text-align: left;
    font-family: serif;
    margin-bottom: 20px;
    color: #2b4699;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 30px;
}
.card {
    background-color: #f0f8ff;
    border: 1px solid #b0d4ff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 100px;
    margin-bottom: 20px;
}
.card h3 {
    color: #007bff;
    margin-bottom: 15px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/*main features*/
.nav-to-about-services-contact h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #1d3272;
}

.home-features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature-card {
    background-color: white;
    border: 1px solid #bab9b9;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
}

.feature-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.feature-card h2 {
    font-size: 1.5rem;
    color: #0056b3;
}

.feature-card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}
